.cookies-banner {
    align-items: center;
    background-color: #0d0d10;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100vw;
    z-index: 100;
}

.cookie-btn {
    border-radius: 3px;
    margin: 12px 15px;
    padding: 8px;
    transition: all 0.3s;
    width: 8rem;
}

.cookie-btn:hover {
    cursor: pointer;
}

.cookies-banner p {
    margin-right: 2rem;
}

.accept-cookies {
    background-color: var(--btn-accent-color);
    border: 1px solid var(--btn-accent-color);
}

.accept-cookies:hover {
    background-color: #1b1b20;
}

.decline-cookies {
    background-color: #1f1f23;
    border: 1px solid white;
}

.decline-cookies:hover {
    background-color: #1a1a1a;
    border-color: grey;
    color: grey;
}