@import url('./topic-infos.css');

/* FEED */

.feed-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*margin-bottom: 12rem;*/
}

.feed {
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    width: min(50rem, 60vw);
}

.feed-topic {
    align-items: center;
    background: #1b1b20;
    border: 2px solid transparent;
    border-radius: 1vh;
    display: flex;
    margin-bottom: 2vh;
    padding: 1rem 2rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.feed-topic:hover {
    background: #232b2f;
    border: 2px #ffffff5e solid;
}

.feed > a > img {
    border-radius: 12px;
    height: 8vh;
}

.feed .topic-info {
    width: 100%;
}

.avatar-wrapper, .topic-info {
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    width: 90%;
}

.user-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 4em;
}

.username {
    font-size: 0.9rem;
    font-weight: 600;
    margin: 5px;
    white-space: nowrap;
}

.topic-header {
    display: flex;
    flex-direction: row;
    font-size: 85%;
    justify-content: space-between;
}

.sub-title {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.feed-topic-tag {
    margin-right: 1vh;
}

.topic-open i, .topic-closed i {
    margin-left: 1vh;
}

.topic-tags-box {
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(min(50rem, 60vw) / 2);
}

.feed-likes {
    align-items: center;
    display: flex;
    gap: .3em;
}

.topic-likes i {
    font-size: small;
}

.views-tags {
    align-items: center;
    display: flex;
}

/* CREATE TOPIC */

.create-topic {
    background: #7b61ff;
    border: none;
    border-radius: 15px;
    bottom: 5rem;
    font-weight: 700;
    left: calc(100% - 15rem);
    margin: 3vh;
    padding: .5rem;
    position: fixed;
    text-decoration: none;
    transition: all .3s;
    white-space: nowrap;
}

.create-topic:hover {
    background: #5e4bbe;
    padding-right: 1rem;
}

.post-question {
    transition: all .3s;
}

.create-topic:hover .post-question {
    text-shadow: 0 3px #7331a8;
}

.options {
    margin: 1.5rem 1rem 2rem;
}

.options select {
    background-color: #1f1f23;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}

.options option {
    border: none;
}
