/* FEED */

.feed-content {
    display: flex;
    justify-content: center;
}

.feed {
    display: flex;
    margin-top: 12vh;
    flex-direction: column;
    width: 40%;
}

.feed > a {
    display: flex;
    margin-bottom: 3vh;
    align-items: center;
    text-decoration: none;
}

.feed > a > img {
    height: 8vh;
    border-radius: 12px;
}

.feed > a > div:not(.circle) {
    width: 100%;
}

.feed > a > div {
    margin-left: 6%;
    display: flex;
    flex-direction: column;
}

.a-div-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 85%;
}

.a-div-div-div-div {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.a-div-div-div-div-div {
    margin-right: 1vh;
}

.topic-category {
    background: #5B37A8;
    border-radius: 9px;
    text-transform: uppercase;
    color: #BFBEFF;
    font-weight: 800;
    padding: 0 1vh;
    width: fit-content;
}

.topic-title, .topic-likes {
    font-weight: 700;
    color: #FFFFFF;
    font-size: 2.5vh;
    margin: 0;
}

.topic-open i, .topic-closed i {
    margin-left: 1vh;
}

.topic-open {
    color: #4EEE40;
}

.topic-closed {
    color: #FF7373;
}

.topic-answers {
    color: #2975B2;
    font-weight: 500;
}

.topic-views {
    color: #435564;
    font-weight: 600;
    mix-blend-mode: normal;
}

.topic-tags {
    background: #383359;
    border-radius: 6px;
    color: #9B9DD6;
    font-weight: 700;
    padding: 0 2%;
    margin-left: 1vh;
    width: fit-content;
    text-decoration: none;
}

.topic-date {
    color: #6D808F;
    font-style: italic;
    font-weight: 400;
}

.topic-likes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-likes p {
    margin: 0;
}

.topic-likes i {
    font-size: small;
}

.views-tags {
    display: flex;
    align-items: center;
}

.topic-likes a {
    color: #FFFFFF;
    text-decoration: none;
}

/* TREND */

.trends {
    position: fixed;
}

/* CREATE TOPIC */

.create-topic {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #7B61FF;
    border-radius: 15px;
    font-weight: 700;
    padding: 1vh 2vh 1vh 1vh;
    margin: 3vh;
    white-space: nowrap;
    text-decoration: none;
    border: none;
}

.create-topic i {
    margin-left: 1vh;
}
