footer {
    align-items: end;
    background-color: #171a1d;
    bottom: 0;
    display: flex;
    flex-direction: column;
    height: 12rem;
    justify-content: center;
    left: 0;
	margin: 5vh 0 0;
    position: fixed;
    width: 100%;
    z-index: 5000;
}

.top {
    left: 0;
    padding: 0.5vw 8vw 0.5vw 2vw;
    position: absolute;
    top: 0;
    width: 75%;
}

.underlineFooter {
    background: linear-gradient(130deg, #6b6b6b, #111111 70%);
    border-radius: 2px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
}

.top img {
    cursor: pointer;
    height: 2vw;
    opacity: 0.5;
    padding: 0 0.5vw;
    transition: all 0.3s;
}

.top img:hover {
    opacity: 1;
}

.bot {
    align-items: center;
    display: flex;
    justify-content: space-between;
    left: 0;
    margin-top: 7vh;
    position: absolute;
    width: 100%;
}

.logos {
    align-items: center;
    display: flex;
    justify-content: center;
    top: 5vw;
    width: 45%;
}

.logos a:first-child img {
    width: 6rem;
}

.logos a img {
    padding: 0 1vw 0 0;
    width: 10vw;
}

.logos a:nth-child(2) {
    border-color: white;
    border-left: 0.1vw solid;
}

.links {
    align-items: start;
    color: #7d7d7d;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    top: 2rem;
    width: 80%;
}

.github-links {
    opacity: 0.5;
    transition: all 0.3s;
}

.github-links:hover {
    opacity: 1;
}

.links a {
    border-color: white !important;
    border-left: 0.1vw solid;
    color: #7d7d7d;
    padding: 0 1vw;
    text-decoration: none;
}

.links a:last-child {
    border-right: 0.1vw solid;
}

.links p {
    margin: 1rem 0;
    max-width: 80%;
}

.fa.fa-github {
    font-size: 2.5rem;
}

a.bot-logo {
    border-right: solid 2px #a9a9a982;
}

.links > div:first-child {
    width: 75%;
}