@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
@import url("./login.css");

* {
    font-family: "Poppins", sans-serif;
    outline: none;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #1E2529;
}

/* MENU BAR */

.menu {
    background-color: #2E3944;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    height: 10vh;
    font-weight: 800;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 1vw;
    cursor: pointer;
}

.logo img {
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.75));
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo > img {
    width: auto;
    height: 82%;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    background: #1F1F23;
    border-radius: 11px;
    width: 30vw;
    height: 4vh;
    border: none;
    color: white;
    padding: 0 3%;
}

.search-btn {
    background: #1F1F23;
    border-radius: 11px;
    border: none;
    height: 4vh;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

#search-input:placeholder-shown ~ .search-btn {
    pointer-events: none;
}

.account-options {
    padding-right: 1.5vw;
    display: flex;
    align-items: center;
}

.account-options > div {
    margin: 1%;
    white-space: nowrap;
}

.actions {
    text-align: center;
}

.actions button, .actions .btn {
    font-weight: 700;
    border-radius: 11px;
    padding: 5px 25px;
    cursor: pointer;
    border: 2px solid #17629E;
    color: #FFF;
    width: fit-content;
}

.log-in {
    background-color: #17629E;
}

.log-out {
    background-color: #a41d22 !important;
    border: 2px solid #f6151c !important;
}

.sign-up {
    background-color: #FFF0!important;
}

.actions.username {
    position: relative;
}

.block {
    display: block !important;
}

.dropdown {
    display: none;
    position: absolute;
    margin-top: 10px;
}