@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
@import url("./login.css");
@import url("./feed.css");
@import url("./topic.css");

* {
    font-family: "Poppins", sans-serif;
    outline: none;
    font-style: normal;
    color: #FFF;
}

body {
    margin: 0;
    background-color: #1E2529;
}

/* MENU BAR */

.menu {
    background-color: #2E3944;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    height: 10vh;
    font-weight: 800;
    z-index: 100000000;
}

.logo {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 1vw;
    cursor: pointer;
}

.logo img {
    filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.75));
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo > img {
    width: auto;
    height: 82%;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
}

#search-input {
    background: #1F1F23;
    border-radius: 11px;
    width: 30vw;
    height: 4vh;
    border: none;
    color: white;
    padding: 0 3%;
}

.search-btn {
    background: #1F1F23;
    border-radius: 11px;
    border: none;
    height: 4vh;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

#search-input:placeholder-shown ~ .search-btn {
    pointer-events: none;
}

.account-options {
    padding-right: 1.5vw;
    display: flex;
    align-items: center;
}

.account-options > div {
    margin: 1%;
    white-space: nowrap;
}

.actions {
    text-align: center;
}

.actions > a > button, .actions .btn, .actions > button {
    font-weight: 700;
    border-radius: 11px;
    padding: 5px 25px;
    cursor: pointer;
    border: 2px solid #17629E;
    color: #FFF;
    width: fit-content;
}

.log-in {
    background-color: #17629E;
}

.sign-up {
    background-color: #FFF0 !important;
}

.actions.username {
    position: relative;
}

.actions.categories {
    position: relative;
}

.block {
    display: block !important;
    animation: rotateX 300ms ease-in-out forwards;
    transform-origin: top center;
}

.dropdown, .dropdown-categories {
    display: none;
    position: absolute;
}

.username a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.avatar:hover {
    cursor: pointer;
}

.dropdown {
    top: 8.5vh;
    background-color: #263137;
    border-radius: 15px;
    width: 83%;
}

.dropdown-categories {
    top: 10vh;
    background-color: #263137;
    border-radius: 15px;
}

.dropdown-options {
    background-color: #263137;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-weight: 600;
    color: #FFF;
    padding: 10px;
}

.log-out {
    color: #FF7373;
}

@keyframes rotateX {
    0% {

        transform: rotateX(-90deg)
    }

    70% {
        transform: rotateX(20deg)
    }

    100% {
        transform: rotateX(0deg)
    }
}

.dropdown-actions .dropdown-options:hover {
    background-color: #1a1e23;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-left: 17px;
    border-radius: 50%;
    display: block;
    filter: drop-shadow(0 0 0.35rem #222);
}

.circle::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}

.circle.connected::after {
    background-color: #389d58;
}

.circle.disconnected::after {
    background-color: #ed4245;
}

.circle {
    position: relative;
}

.message-area {
    height: 165px;
    width: 323px;
    position: absolute;
    top: 50%;
    color: black;
    left: 40%;
}

.rotate {
    animation: rotate180 .3s forwards;
}

.rotate-reverse {
    animation: rotate180reverse .3s forwards;
}

@keyframes rotate180 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-180deg);
    }
}

@keyframes rotate180reverse {
    0% {
        transform: rotate(-180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
