.fit-page {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.container {
    background: var(--authentification-container-bg);
    border-radius: 37px;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    width: 40vh;
}

.header {
    text-align: center;
}

.header img {
    height: auto;
    width: 26%;
}

.input-area {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 9%;
    text-align: center;
}

.input-area input {
    background: white;
    border: 1px grey solid;
    border-radius: 11px;
    color: var(--authentification-input-text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    margin: 10px 0;
    outline: none;
    padding: 2% 3%;
    -webkit-text-fill-color: var(--authentification-input-text-color) !important;
}

.log-in-input {
    margin-bottom: 44%;
}

.auth-actions {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: .9rem;
    justify-content: center;
}

.auth-actions > button {
    background-color: var(--btn-accent-color);
    border: none;
    border-radius: 11px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    height: 12%;
    outline: none;
    padding: 5px 25px;
    width: 40%;
}

.auth-actions > button:hover {
    background-color: var(--btn-accent-color-hover);
}

.auth-actions > button:active {
    background-color: var(--btn-accent-color-active);
}

.already-or-create {
    color: var(--btn-accent-color);
    font-weight: 500;
    margin-left: 5px;
    text-decoration: none;
    transition: color .2s;
}

.already-or-create:hover {
    color: var(--btn-accent-color-hover);
}
