.fit-page {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
}

.container {
    background: #30373C;
    border-radius: 37px;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    width: 40vh;
}

.header {
    text-align: center;
}

.header img {
    height: auto;
    width: 26%;
}

.input-area {
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin-bottom: 9%;
    text-align: center;
}

.input-area input {
    background: #FFFFFF;
    border: 1px grey solid;
    border-radius: 11px;
    color: grey;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    margin: 10px 0;
    outline: none;
    padding: 2% 3%;
    -webkit-text-fill-color: grey !important;
}

.log-in-input {
    margin-bottom: 44%;
}

.actions > a > button, .actions > button {
    background-color: #17629E;
    border-radius: 11px;
    color: grey;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    height: 10%;
    outline: none;
    width: 57%;
}

.actions p {
    color: #FFF;
    font-size: 74%;
}

.already-or-create {
    color: #1a66a5;
    font-weight: 500;
    text-decoration: none;
}
