@import url('./feed.css');

.trends {
    align-items: center;
    background-color: #2b333d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px calc((1vw + 10px) / 10);
    position: fixed;
    right: 5vw;
    top: 12rem;
}

.trends h2 {
    font-size: 1.6rem;
    margin: 10px 0;
}

.trends h2 i {
    padding-left: 5px;
}

.trends ul {
    margin: 0 1rem;
    padding: 5px;
}

.trends li {
    list-style: none;
    padding: 10px 0;
}

.trends .topic-tags {
    font-size: 1.1rem;
    margin: 1rem;
    padding: 5px 12px;
}

.tags-count {
    padding-right: 4px;
}

@media (max-width: 1300px) {
    .feed-content {
        display: flex;
        flex-direction: column;
    }

    .trends {
        margin-bottom: 3rem;
        position: relative;
        right: 0;
        top: 8rem;
        width: max(70vw, 20rem);
    }

    .trends ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.notice {
    margin: 27vh 7vh;
}

.notice-span {
    background-color: #2b333d;
    padding: 3vh;
}

.privacy-policy-title {
    background-color: var(--main-bg-color);
    padding-left: 7vh;
    position: fixed;
    top: 10vh;
    width: 100%;
}
