
.modalProfileBtn:hover {
    cursor: pointer;
}

.modal {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    height: 0;
    left: 0;
    overflow: auto;
    padding-top: 100px;
    position: fixed;
    top: 0;
    width: 0;
    z-index: 1;
}

.modal-content {
    animation: modalSlide .2s ease-out forwards;
    background-color: #2e3944;
    border-radius: 2vw;
    margin: auto;
    min-height: 30vw;
    min-width: 18vw;
    overflow: hidden;
    width: fit-content;
}

.modal-about {
    color: #7e8082;
    font-weight: bold;
    text-shadow: 0 0 1px #00000017, 0 0 10px #00000061;
    text-transform: uppercase;
}

.modal-display {
    display: block !important;
    height: 100% !important;
    width: 100% !important;
}

@keyframes modalSlide {
    from {
        transform: translateX(10%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.modal-id {
    color: #6a6c6e;
}

.modal-name-id {
    align-items: center;
    display: flex;
    gap: .3em;
    margin-left: 1em;
    position: relative;
}

.modal-name {
    font-size: 1.6em;
    font-weight: bold;
    margin: 2px 0;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal-top-box {
    display: flex;
    margin-left: 5em;
    text-decoration: none;
    position: relative;
    top: -1.2em;
}

.modal-banner {
    box-shadow: 0 0 1px #00000061, 0 0 10px #00000061 inset;
    height: 9vh;
    padding-right: 1vw;
}

.modal-padding {
    padding: 20px;
}

.modal-topics {
    background-color: #8080802e;
    border-radius: .5em;
    padding: .2em;
    text-decoration: none;
    transition: all .3s;
}

.follow-box {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.modal-bubble {
    background-color: #8080802e;
    border-radius: .5em;
    height: fit-content;
    padding: .2em;
    width: fit-content;
}

.modal-topics:hover {
    background-color: #2b333d;
}

.modal-avatar {
    background-color: #2e3944;
    border: #2e3944 3px solid;
    border-radius: 50%;
    filter: drop-shadow(0px -4px 0.2rem #222222) !important;
    position: relative;
    width: inherit;
    height: inherit;
    object-fit: scale-down;
}

.modal-href-avatar {
    height: 5em !important;
    left: 1.5vh;
    padding: 4px;
    position: relative;
    top: 2.5em;
    width: 5em !important;
}

.modal-name-link {
    height: min-content;
}

a {
    text-decoration: none;
}

.follow-button:hover {
    cursor: pointer;
}

.modal-topics.unfollow-btn:hover {
    background-color: #7c222270;
}

.modal-topics.unfollow-btn:hover i {
    opacity: 1;
    padding-left: 3px;
    width: 10px;
}

.modal-topics.unfollow-btn i {
    opacity: 0;
    transition: all .3s, opacity .15s ease-in;
    width: 0;
}
