@import url('./feed.css');

:root {
    --color-height: 15rem;
    --avatar-inset-height: 3rem;
    --avatar-left: 10vw;
    --avatar-size: 12rem;
}

body {
    overflow-x: hidden;
}

.color {
    height: var(--color-height);
    width: 100%;
}

.avatar-circle {
    align-items: center;
    background-color: #1e2529;
    border-radius: 50%;
    display: flex;
    height: var(--avatar-size);
    justify-content: center;
    left: var(--avatar-left);
    position: relative;
    top: calc(100% - var(--avatar-inset-height));
    width: var(--avatar-size);
}

.avatar-circle img {
    border-radius: 50%;
    height: 90%;
    object-fit: contain;
    width: 90%;
}

.content {
    align-items: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: calc(var(--avatar-left) + var(--avatar-size) + 5vw);
    overflow-x: hidden;
    width: 100vw;
}

.profile-username {
    align-items: center;
    display: flex;
    font-size: 2.5rem;
    margin-top: 0.3em;
}

.profile-username i {
    margin-right: 0.3em;
}

.user-id {
    color: #8e959f;
}

.description {
    max-height: 10rem;
}

section.profile {
    display: flex;
    flex-direction: column;
    margin-left: calc(var(--avatar-left) + 1rem);
    position: absolute;
    top: calc(var(--color-height) + var(--avatar-size) - var(--avatar-inset-height));
    width: max-content;
}

section.profile a, section.profile p {
    margin: 0.2em 0;
}

section.profile a {
    color: #aaaaaa;
    margin: 0.2em 0;
    text-decoration: none;
}

section.content .topic {
    background-color: #1a1e23;
    border-radius: 0.8em;
    padding: 1em;
    width: 50vw;
}

section.content .topic-header {
    display: flex;
    flex-direction: row;
    font-size: 85%;
    justify-content: space-between;
}

section.content .topic-header {
    margin-right: 20px;
}

section.content .topic:hover {
    background-color: #1a1a20;
}

li .user:hover {
    background-color: #1a1a20;
    border: 2px #ffffff5e solid;
}

.followers, .followings {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.follower, .following {
    list-style: none;
    margin: 0;
}

.user {
    align-items: center;
    background-color: #1a1e23;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.3em;
    padding: 1em 1.2em;
    text-decoration: none;
    transition: all 0.2s;
}

.fa-ellipsis-vertical {
    color: #838383;
    margin: 0 2vh;
    position: relative;
    top: 1.5vh;
}

.dots-clicked {
    color: #626262 !important;
}

.ban-options {
    align-items: center;
    background-color: #273136;
    display: flex;
}

.ban-option, .unban-option {
    background-color: #273136;
    cursor: pointer;
    display: flex;
    font-size: 2.5vh;
    padding: 1vh;
    width: fit-content;
}

.user-status {
    margin: 0;
}

.ban-icon, .unban-icon {
    align-items: center;
    display: flex;
    margin-right: 1vh;
}

.ban {
    color: #FF7373;
}

.unban {
    color: #7FFF7F;
}

