@import url('./ck-editors.css');

:root {
    --field-color: #1f1f23;
    --text-color: white;
}

#settings {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}

.form-group {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-group input:not(.color), .color-wrapper, .form-group textarea, .form-group select {
    background-color: var(--field-color);
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    margin-bottom: 0.5em;
    padding: 8px 12px;
}

.form-group input:not(.color, .checkbox), .form-group textarea {
    width: 15rem;
}

.form-group textarea {
    min-height: 5em;
    resize: vertical;
    width: 40vw;
}

.form-group label {
    font-size: 1.2rem;
}

.btn {
    align-items: center;
    background-color: var(--btn-accent-color);
    border: none;
    border-radius: 11px;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 6px 30px;
    position: relative;
    width: fit-content;
}

.btn:hover {
    background-color: var(--btn-accent-color-hover);
}

.btn:active {
    background-color: var(--btn-accent-color-active);
}

.btn:hover i {
    opacity: 1;
    padding-left: 15px;
    width: 10px;
}

.btn i {
    opacity: 0;
    transition: all 0.20s, opacity 0.10s ease-in;
    width: 0;
}

.form-group label * {
    margin: 5px;
}

.colors-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.color-wrapper {
    align-items: center;
    border-radius: 0;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 8px 12px;
    position: relative;
}

.color-wrapper.customisable {
    border-radius: 5px 0 0 5px;
}

.color-wrapper.default {
    border-radius: 0 5px 5px 0;
}

.color-wrapper:after {
    color: #ffffff;
    content: '';
    cursor: initial;
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.color-wrapper.selected::after {
    animation: validate-change 0.3s cubic-bezier(0.13, 0.89, 0.5, 1.42);
    content: '✅';
}

@keyframes validate-change {
    0% {
        font-size: 0;
        top: calc((1.5rem / 2));
        right: calc((1.5rem / 2));
    }

    to {
        font-size: 1.5rem;
        top: 0;
        right: 0;
    }
}

.color {
    background-color: var(--field-color);
    border: none;
    cursor: pointer;
    height: 85px;
    padding: 0;
    width: 140px;
}

.color::-moz-color-swatch {
    border-radius: 5px;
}

.color::-webkit-color-swatch {
    border-radius: 5px;
}

.ck-editor {
    max-width: 70vw;
}

.cookies-wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0.5rem 0 2rem;
}

.cookies-wrapper * {
    color: salmon;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

input[type=checkbox] {
    height: 1.2rem;
    margin: 0 1rem 0 0 !important;
    width: 1.2rem;
}

.links-title {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
}

.link {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.link-name {
    max-width: 6rem;
}

.link button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: .5rem;
    padding: 0;
    transition: all 0.1s;
}

.link button:hover {
    transform: scale(1.1);
}

.remove-link i {
    color: var(--cancel-actions)
}

.hidden {
    display: none;
}