:root {
    --button-color: #17629e;
    --button-color-hover: #1a7cb7;
    --button-color-active: #0f5f91;
    --field-color: #1f1f23;
    --text-color: white;
}

#settings {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.form-group input, .form-group textarea, .form-group select {
    background-color: var(--field-color);
    border: none;
    font-size: 1.1rem;
    margin-bottom: 0.5em;
    padding: 8px 12px;
    border-radius: 5px;
}

.form-group input:not(.color), .form-group textarea {
    width: 20vw;
}

.form-group textarea {
    min-height: 5em;
    resize: vertical;
    width: 40vw;
}

.form-group label {
    font-size: 1.2rem;
}

.btn {
    background-color: var(--button-color);
    border-radius: 11px;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 6px 30px;
    position: relative;
    width: fit-content;
}

.btn:hover {
    background-color: var(--button-color-hover);
}

.btn:active {
    background-color: var(--button-color-active);
}

.btn:hover i {
    opacity: 1;
    padding-left: 15px;
    width: 10px;
}

.btn i {
    opacity: 0;
    transition: all 0.20s, opacity 0.10s ease-in;
    width: 0;
}

.form-group label * {
    margin: 5px;
}

.color {
    height: 85px;
    width: 140px;
    position: relative;
}

.color:hover {
    cursor: pointer;
}

.color::-webkit-color-swatch {
    border-radius: 5px;
}

.color::after {
    content: "";
    font-size: 1.5rem;
    position: absolute;
    color: #ffffff;
    top: 0;
    right: 0;
}

.color.selected::after {
    content: "✅";
    animation: validate-change 0.3s cubic-bezier(0.13, 0.89, 0.5, 1.42);
}

@keyframes validate-change {
    0% {
        font-size: 0;
        top: calc((1.5rem / 2));
        right: calc((1.5rem / 2));
    }

    to {
        font-size: 1.5rem;
        top: 0;
        right: 0;
    }
}

.colors-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}