.topic-feed {
    width: 60%;
    display: flex;
    align-content: flex-end;
}

.post {
    display: flex;
    flex-direction: column;
    background: #171A1D;
    border-radius: 20px;
    padding: 4vh;
    margin-bottom: 5vh;
}

.post > div {
    display: flex;
}

.post > div > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-content-likes {
    display: flex;
    margin-left: 2vh;
    width: 100%;
    justify-content: space-between;
}

.topic-general-info {
    display: flex;
    justify-content: space-around;
    font-size: 90%;
}

.post > div > div > a > img {
    width: 9vh;
    border-radius: 12px;
    margin: 0.5vh;
}

.posts-content, .topic-user, .posts-views {
    font-size: smaller;
}

.topic-user {
    font-weight: 700;
}

.topic-user > p {
    margin: 0;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text-area {
    background-color: rgba(26, 102, 165, 0);
    border: none;
    width: 100%;
    padding: 2vh;
    /*margin-top: 6vh;*/
}

.write-message {
    display: flex;
    justify-content: flex-end;
}

.write-message > form {
    display: flex;
    align-items: flex-end;
    width: 80%;
    margin-bottom: 3vh;
    background-color: #171A1D;
    border-radius: 15px;
}

.write-message > form > label {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.post-message-button {
    background-color: rgba(26, 102, 165, 0);
    border: none;
    height: 100%;
    display: flex;
    padding: 2vh;
}

.submit-plane {
    color: #1a66a5;
    font-size: 3vh;
}

.sub-post {
    width: 80%;
}

.like-btn:hover, .dislike-btn:hover {
    cursor: pointer;
}

/* NEW TOPIC */

.new-topic {
    margin-top: 13vh;
    display: flex;
    flex-direction: column;
}

.new-topic > p {
    font-size: 3vh;
    font-weight: 800;
}

.create-topic-options {
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
}

.create-topic-options > p {
    margin: 0;
}

.create-topic-category {
    display: flex;
}

.create-topic-category > label {
    margin-right: 1vh;
}

.btn {
    background-color: #17629E;
    border: none;
    border-radius: 15px;
    color: #FFF;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 2rem 0;
    padding: 1vh 2vh 1vh 1vh;
    width: fit-content;
    white-space: nowrap;
}

.btn i {
    margin-left: 1vh;
}

.create-topic-input {
    margin-top: 1vh;
    background-color: #1F1F23;
    border: none;
    font-size: 1.1rem;
    margin-bottom: 0.5em;
    padding: 1vh;
}

