@import url('./topic-infos.css');

.topic-page-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
}

.topic-page {
    width: 50%;
}

.topic {
    background: #171a1d;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
    padding: 2rem 1.5rem;
}

.topic-top {
    display: flex;
    width: 95%;
}

.topic-user-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.topic-content-likes {
    display: flex;
    justify-content: space-between;
    margin-left: 2vh;
    width: 100%;
}

.topic-general-info {
    display: flex;
    font-size: 90%;
    justify-content: space-between;
    width: 90%;
}

.topic-user-wrapper > a > img {
    border-radius: 12px;
    margin: 0.5vh;
    width: 9vh;
}

.topic-user, .topic-views {
    font-size: smaller;
}

.topic-content {
    font-size: 1em;
    max-width: 50rem;
    overflow-wrap: break-word;
    word-break: break-word;
}

.topic-content em {
    font-style: italic;
}

.topic-user {
    font-weight: 700;
}

.topic-user > p {
    margin: 0;
    white-space: nowrap;
}

.messages {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.sub-post {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 3rem !important;
    width: 70%;
}

.sub-post-top {
    display: flex;
    flex-direction: row;
}

.text-area {
    background-color: rgba(26, 102, 165, 0);
    border: none;
    max-height: 40em;
    min-height: 3em;
    padding: 2vh;
    resize: vertical;
    width: 100%;
}

.text-area::-webkit-scrollbar {
    display: none;
}

.write-message {
    display: flex;
    justify-content: flex-end;
}

.write-message > form {
    align-items: flex-end;
    background-color: #171a1d;
    border-radius: 15px;
    display: flex;
    margin-bottom: 3vh;
    width: 80%;
}

.write-message > form > label {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.post-message-button {
    background-color: rgba(26, 102, 165, 0);
    border: none;
    display: flex;
    height: 100%;
    padding: 2vh;
}

.submit-plane {
    color: #1a66a5;
    cursor: pointer;
    font-size: 3vh;
}

.like-btn:hover, .dislike-btn:hover {
    cursor: pointer;
}

.delete-comment, .edit-comment, .delete-topic {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 3vh;
}

.delete-comment > i, .delete-topic > i {
    color: #ff7373;
}

.edit-delete-comment {
    display: flex;
}

/* EDIT MESSAGE */

.no-display {
    display: none !important;
}

.topic-status:hover, .topic-status-closed:hover {
    cursor: pointer;
}

.message-deleted p {
    color: #808080;
}

/* OPTIONS TOPIC CATEGORY */

.change-topic-category-label {
    font-size: 90%;
}

#change-topic-category {
    background-color: #2b333d;
    margin-bottom: 1vh;
}

#change-topic-category option {
    background: #2b333d;
}

#change-topic-category option:hover {
    background: #171a1d;
}

.topic-likes i {
    cursor: pointer;
}

.dislike-color {
    color: #ff7373;
}

.like-color {
    color: #1a66a5;
}

.send-edited-comment:hover {
    cursor: pointer;
}