.topic-feed {
    width: 60%;
    display: flex;
    align-content: flex-end;
}

.post {
    display: flex;
    flex-direction: column;
    background: #171A1D;
    border-radius: 20px;
    padding: 4vh;
    margin-bottom: 5vh;
}

.post > div {
    display: flex;
}

.post-div-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topic-content-likes {
    display: flex;
    margin-left: 2vh;
    width: 100%;
    justify-content: space-between;
}

.topic-general-info {
    display: flex;
    justify-content: space-around;
    font-size: 90%;
}

.post-div-div > a > img {
    width: 9vh;
    border-radius: 12px;
    margin: 0.5vh;
}

.posts-content, .topic-user, .posts-views {
    font-size: smaller;
}

.topic-user {
    font-weight: 700;
}

.topic-user > p {
    margin: 0;
    white-space: nowrap;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.text-area {
    background-color: rgba(26, 102, 165, 0);
    border: none;
    width: 100%;
    padding: 2vh;
    resize: vertical;
    min-height: 3em;
    max-height: 40em;
    /*margin-top: 6vh;*/
}

.text-area::-webkit-scrollbar {
    display: none;
}

.write-message {
    display: flex;
    justify-content: flex-end;
}

.write-message > form {
    display: flex;
    align-items: flex-end;
    width: 80%;
    margin-bottom: 3vh;
    background-color: #171A1D;
    border-radius: 15px;
}

.write-message > form > label {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.post-message-button {
    background-color: rgba(26, 102, 165, 0);
    border: none;
    height: 100%;
    display: flex;
    padding: 2vh;
}

.submit-plane {
    color: #1a66a5;
    font-size: 3vh;
    cursor: pointer;
}

.sub-post {
    width: 80%;
}

.like-btn:hover, .dislike-btn:hover {
    cursor: pointer;
}

.delete-comment, .edit-comment, .delete-topic {
    cursor: pointer;
    background: none;
    border: none;
    margin-left: 3vh;
}

.delete-comment > i, .delete-topic > i {
    color: #FF7373;
}

.edit-delete-comment {
    display: flex;
}

/* EDIT MESSAGE */

.no-display {
    display: none !important;
}

.topic-status:hover, .topic-status-closed:hover {
    cursor: pointer;
}

.message-deleted {
    color: #8080807a;
}

/* OPTIONS TOPIC CATEGORY */

.change-topic-category-label {
    font-size: 90%;
}

#change-topic-category {
    background-color: #2b333d;
    margin-bottom: 1vh;
}

#change-topic-category option {
    background: #2b333d;
}

#change-topic-category option:hover {
    background: #171A1D;
}
