{{define "cookies-banner"}}
    <div class="cookies-banner">
        <p>
            This website uses cookies to ensure you get the best experience on our website.
        </p>

        <button class="accept-cookies cookie-btn" type="submit">
            Accept Cookies
        </button>

        <button class="decline-cookies cookie-btn" type="submit">
            Decline cookies
        </button>
    </div>
{{end}}