{{define "user"}}
    <div class="user">
        <img alt="{{.Username}}" class="avatar" src="{{template "avatar" .ProfilePic}}">
        <a class="username" href="/profile?id={{.Id}}">
            {{safeHTML .DisplayRole}} {{.Username}}
        </a>
    </div>
{{end}}