{{define "user"}}
    <a class="user" href="/profile?id={{.Id}}">
        <img alt="{{.Username}}" class="avatar" src="{{template "avatar" .ProfilePic.String}}">

        <p class="username">
            {{safeHTML .DisplayRole}} {{.Username}}
        </p>
    </a>
{{end}}