<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Game overflow</title>
        <link rel="icon" href="/resources/Logo.png">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body>

        <div class="menu">
            <div class="logo">
                <img src="/resources/logo.png">
                <p>GAME OVERFLOW</p>
            </div>
            <div class="categories">
                <p>CATEGORIES</p>
            </div>
            <div class="search-bar"></div>
            <div class="account-options">
                <div class="actions">
                    <a href="/login">
                        <button value="Login">Login</button>
                    </a>
                    <a href="/admineditusername">
                        <button value="Admin_edit_username">Admin edit username</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>