<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="icon" href="/resources/Logo.png">
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Welcome</h1>
            </div>
            <div class="input_area">
                <input type="text" placeholder="Username" />
                <input type="text" placeholder="Password" />
            </div>
            <div class="actions">
                <button type="submit" value="Login">Login</button>
                <p>
                    Don't have an account ?
                    <a href="/sign-up" class="Sign_up_link">Sign Up</a>
                </p>
            </div>
        </div>
    </body>
</html>