<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Sign up</title>
        <link rel="icon" href="/resources/Logo.png">
        <link rel="stylesheet" href="/static/login.css">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <h1>Sign up</h1>
            </div>
            <form method="POST">
                <div class="input_area">
                    <label for="username"></label>
                    <input type="text" placeholder="Username" name="username"/>
                    <label for="email"></label>
                    <input type="text" placeholder="Email" name="email"/>
                    <label for="password"></label>
                    <input type="text" placeholder="Password" name="password"/>
                    <label for="confirm-password"></label>
                    <input type="text" placeholder="Confirm password" name="confirm-password"/>
                </div>
                <div class="actions">
                    <button type="submit" name="submit" value="Sign-up">Sign up</button>
                </div>
            </form>
        </div>
    </body>
</html>