<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Game overflow</title>
        <link rel="icon" href="/resources/Logo.png">
        <link rel="stylesheet" href="/static/login.css">

    </head>
    <body>
        <div class="actions">
            <a href="/login">
                <button value="Login">Login</button>
            </a>
        </div>
    </body>
</html>